.galley-box {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  position: relative;
}
.gallery-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.item-card {
  width: 360px;
  height: 248px;
  border: 1px solid #808080;
}
.small-img {
  width: 100%;
  max-height: 200px;
}
/* .large-img {
} */
.text-box-list {
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  width: 360px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text-box {
  width: 72px;
  height: 40px;
  display: flex;
  flex-direction: column;
}
.text-content {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;

  text-align: center;
}
.text-values {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;

  text-align: center;
}

.is-hiden {
  opacity: 0%;
  visibility: hidden;
  pointer-events: none;
}
.loader {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);

  width: 48px;
  height: 48px;
  border: 3px dotted #000000;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
